<link rel="stylesheet"
    href="/components/search-header-component/search-header-component.css">

<main class="search-container">
    <figure class="avatar"><slot  name="username"></slot> </figure> 
    <input id="input" type="text" placeholder="Search for files">
    <section class="sign-out"> 
    <svg id="sign-out-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" ><path fill="currentColor" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
    </section>
</main>