.search-container {
    box-shadow: 0 0.25rem .25rem 0.125rem var(--black-dark-shade);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

input { 
    width: 37.7344%;
    margin: 0;
    border: .15em solid;
    border-radius: 1.125em; 
    border-color: var(--dark-gray-accent);
    font-size: 1.5em;
    outline: none;
    padding-left: 1.875em;
    height: 3.4375rem;
    text-align: left;
    font-size: 1.5em;
    box-sizing: border-box;
}

.avatar {
    border-radius: 50%;
    background-color: var(--steel-blue);
    width: 3em;
    height: 3em;
    margin: 1rem;
    align-content: center;
    text-align: center;
    color: aliceblue;
    cursor: default;
}

.sign-out {
    width: 3rem;   
    height: 3rem;
    margin: 1rem;
}

.sign-out :hover {
    color: var(--red);
    cursor: pointer;
}