<link rel="stylesheet"
    href="/components/spider-view-component/spider-view-component.css">

<template id="sorted-icon-template">
    <img id="sorted-icon" src="./assets/icons/sorted-column.svg">
</template>

<template id="empty-folder-template">
    <main class="empty-folder">
        <img id="folder-icon" src="./assets/icons/folder.svg">
        <p>This folder is empty</p>
    </main>
</template>

<template id="video-preview-template">
    <video id="video-preview" class="round-corners" controls>
        <p>Your browser doesn't support HTML5 video. Here is a <a>link to the video</a> instead.</p>
    </video>
</template>

<template id="audio-preview-template">
    <audio id="audio-preview" controls>
        <p>Your browser doesn't support HTML5 audio. Here is a <a>link to the audio</a> instead.</p>
    </audio>
</template>

<template id="default-preview-template">
    <p id="default-preview">We cannot preview this spider. Here is a <a>link to the spider</a> instead.</p>
</template>

<template id="image-preview-template">
    <img class="round-corners" id="image-preview" alt="" />
</template>

<template id="row-template">
    <td><slot name="name"></slot></td>
    <td><slot name="modified"></slot></td>
    <td><slot name="size"></slot></td>
    <td><slot name="sharing"></slot></td>
</template>

<template id="column-template">
    <table>
        <thead>
            <tr>
                <th scope="col" id="name">Name</th>
                <th scope="col" id="modified">Modified </th>
                <th scope="col" id="size">Size</th>
                <th scope="col" id="sharing">Sharing</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</template>

<main class="container">
</main>