<link rel="stylesheet"
    href="/components/spider-view-component/spider-view-component.css">

<template id="sorted-icon-template">
    <img id="sorted-icon" src="./assets/icons/sorted-column.svg">
</template>

<template id="empty-folder-template">
    <main class="empty-folder">
        <img id="folder-icon" src="./assets/icons/folder.svg">
        <p>This folder is empty</p>
    </main>
</template>

<template id="video-preview-template">
    <video id="video-preview" class="round-corners" controls>
        <p>Your browser doesn't support HTML5 video. Here is a <a>link to the
                video</a> instead.</p>
    </video>
</template>

<template id="audio-preview-template">
    <audio id="audio-preview" controls>
        <p>Your browser doesn't support HTML5 audio. Here is a <a>link to the
                audio</a> instead.</p>
    </audio>
</template>

<template id="default-preview-template">
    <p id="default-preview">We cannot preview this spider. Here is a <a>link to
            the spider</a> instead.</p>
</template>

<template id="no-spider-access-template">
    <p id="no-spider-access">We cannot preview this spider. You might not have
        access to view it. Please double check access with sharer.</p>
</template>

<template id="image-preview-template">
    <img class="round-corners" id="image-preview" alt />
</template>

<template id="row-entry">
    <img id="folder-icon" src="./assets/icons/folder.svg">
    <img id="file-icon" src="./assets/icons/file.svg">
    <section>
        <slot name="name"></slot>
    </section>
    <section>
        <slot name="modified"></slot>
    </section>
    <section>
        <slot name="size"></slot>
    </section>
    <img id="delete-icon" src="./assets/icons/delete.svg">
    <img id="share-icon" src="./assets/icons/share.svg">
</template>

<template id="table">
    <main class="table-row">
    </main>
</template>

<template id="share-list-editor-template">
    <article id="share-list-editor">
        <h2>Share List for <slot name="name"></slot></h2>
        <textarea id="share-list-editor-input"
            placeholder="Enter the emails to share this spider with. Put each email in its own line."></textarea>
        <section>
            <button id="share-list-editor-cancel" type="button">Cancel</button>
            <button id="share-list-editor-save" type="button">Save Share
                List</button>
        </section>
    </article>
</template>

<main class="container">
</main>