.empty-folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--light-white);
    border-radius: 1.125rem;
    padding: 0.25rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    height: 3rem;
    font-weight: 500;
    font-size: 1.5rem;
    border-bottom: 0.0625rem solid var(--dark-gray-accent);
}

thead th:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2) {
    width: 55%;
}

thead th:nth-child(3) {
    width: 25%;
}

thead th:nth-child(4) {
    width: 10%;
}

thead th:nth-child(5) {
    width: 5%;
}

td {
    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

tr {
    border-bottom: 0.0625rem solid var(--dark-gray-accent);
    height: 3.75rem;
    border-radius: var(--app-border-radius);
}

tbody {
    tr:hover {
        background-color: var(--gray-hover-color);
        cursor: pointer;
    }

    :last-child {
        border: none;
    }
}

.round-corners {
    border-radius: var(--app-border-radius);
}
