.background {
    height: 100vh;
    width: 100%;
    background-color: var(--blue-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.greeting-panel {
    background-color: white;
    padding: 5rem 12rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.125rem;
}

.text-large {
    font-size: 5.25em;
    color: var(--primary-font-color);
}

.text-small {
    font-size: 3.25em;
    color: var(--primary-font-color);
}

.button-sign-in {
    margin-top: 5.6875rem;
    height: 6rem;
    background-color: var(--blue-darker-accent);
    font-size: 3rem;
    color: var(--bright-white);
    border-radius: 1.125rem;
}