.side-bar {
    position: relative; 
    height: 80vh;
    margin-top: 2.5rem;
}

.nav-bar a{
    display: flex;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
    padding: 0.5em 0.5em 0.5em 0em;
    align-items: center;
}

.nav-bar a:hover {
    color: var(--steel-blue);
}

.nav-icon{
    width: 1.5em;
    height: 1.5em;
}

.nav-icon:hover{
    fill: var(--steel-blue);
}

.user-info {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    font-style: normal;
    padding-left: 10%;
    margin-bottom: 1.875rem;
}

.nav-bar {
    padding-left: 10%;
}

.sign-out {
    position: absolute; 
    width: 100%; 
    display: flex;
    align-items: center; 
    bottom: 0;
    padding-left: 10%;
}

.sign-out :hover {
    color: var(--red);
    cursor: pointer;
}