file-actions {
    display: block;
    margin-top: 2.5rem;
    margin: 2.5rem 1.375rem 0 1.375rem;
}

spider-view {
    display: block;
    margin: 1.375rem;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content {
    width: 70%; /* Default width for desktop */
  }
  
  @media only screen and (max-width: 768px) { /* Target screens smaller than 768px (mobile) */
    .section-content {
      width: 95%; /* Override width for mobile */
    }
  }
  