<link rel="stylesheet"
    href="/components/file-actions-component/file-actions-component.css">

<template id="breadcrumb-template">
    <div>
        <slot name="breadcrumb"></slot>
    </div>
</template>

<main class="container">
    <header class="title">
        <section id="path-list" class="inline"></section>
    </header>
    <article class="icons">
        <img id="upload-icon" src="./assets/icons/upload.svg">
        <input type="file" multiple="true" id="upload-file-dialog" hidden>
        <section id="create-folder-container">
            <input id="folder-input" type="text"
                placeholder="Enter Folder Name" hidden>
            <main class="background">
                <img id="folder-icon"
                    src="./assets/icons/create-folder.svg">
            </main>
        </section>
    </article>
</main>
